<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Concert
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/concert">
        <ion-icon name="walk-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let conc of concertTab; let position=index">
    <ion-label>
      <h1>{{ conc.groupe }}</h1>
      <p>{{ conc.genre }}</p>
      <h2>{{ conc.salle +", "+ conc.ville }}</h2>
      <h3>{{ conc.date }}</h3>
      <p>Note: {{ conc.note }}</p>
      <p>Commentaires: {{ conc.commentaire }}</p>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="deleteOneConcert(position)">
        <ion-icon name="thumbs-down-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

</ion-content>
